#card {
    padding: 5%;
    border: 5px solid black;
    background-color: black;
   }
   #card:hover {
    background-color: white;
    border: 5px solid lightgray;
    opacity: 1;
   }
   #topTable {
    background-color: #2B2D2D;
    padding: 2%;
    text-align: center;
    color: white;
    border-top: 2px solid black;
}

#topTable1 {
    background-color: #2B2D2D;
    padding: 2%;
    text-align: center;
    color: white;
    border-top: 2px solid black;

}

.btnEliminaCarrello {
    background-color: black;
}

.btnEliminaCarrello:hover{
    background-color: #e01931;
}


/*#myModal{
    background-color: azure;
}*/

#closeModal:hover{
    background-color: black;
    color: white;
}