#card {
    padding: 5%;
    border: 5px solid black;
    background-color: black;
   }
   #card:hover {
    background-color: white;
    border: 5px solid lightgray;
    opacity: 1;
   }
   #topTable {
    background-color: #2B2D2D;
    padding: 2%;
    text-align: center;
    color: white;
    border-top: 2px solid black;
}

#topTable1 {
    background-color: #2B2D2D;
    padding: 2%;
    text-align: center;
    color: white;
    border-top: 2px solid black;

}

.btnEliminaCarrello {
    background-color: black;
}

.btnEliminaCarrello:hover{
    background-color: #e01931;
}
#RowRiga{
    border-top: 1px solid #2B2D2D;
    background-color: bisque;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 2%;
}

/*#myModal{
    background-color: azure;
}*/

#closeModal:hover{
    background-color: black;
    color: white;
}

#divFoto{
    height: 70px;
    margin-bottom: 2%;
    text-align: center;
    border: 1px solid black;
}

#imgDiv{
    margin: 0 auto;
    text-align: center;
}

#divDescrizione{
    height: 70px;
    margin-bottom: 2%;
    text-align: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}
#divTipo{
    height: 70px;
    margin-bottom: 2%;
    text-align: center;
    border: 1px solid black;
}

#divPrezzo{
    height: 70px;
    margin-bottom: 2%;
    text-align: center;
    border: 1px solid black;
}

#divBtnModifica{
    height: 70px;
    margin-bottom: 2%;
    text-align: center;
    border: 1px solid black;
}

